In [1]:
%reload_ext sql
%sql postgresql+psycopg2://postgres:postgres@localhost/demo

In [2]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### TCL (Transaction control language)

* Purpose: manage the transactions

Commit: Save the transactions permanently

Rollback: Undo the transactions

Savepoint: Set a point within a transaction to which we can roll back

In [3]:
%%sql
drop table Accounts;

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.

[]

* Once we commit then we can't rollback

In [4]:
%%sql
CREATE TABLE Accounts (
  AccountID INT PRIMARY KEY,
  AccountHolder VARCHAR(100),
  Balance DECIMAL(10,2)
);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.

[]

In [5]:

%%sql
INSERT INTO Accounts (AccountID, AccountHolder, Balance)
VALUES (1, 'Alice', 5000.00);

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[]

In [6]:
%%sql
select * from Accounts;

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(1, 'Alice', Decimal('5000.00'))]

In [7]:
%%sql
start transaction;

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.

[]

### Commit

In [8]:
%%sql
UPDATE Accounts SET Balance = Balance - 1000 WHERE AccountID = 1;

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[]

In [9]:
%%sql
select * from Accounts;

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(1, 'Alice', Decimal('4000.00'))]

In [10]:
%%sql 
commit;

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.

[]

In [11]:
%%sql
select * from Accounts;

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(1, 'Alice', Decimal('4000.00'))]

### Rollback

In [12]:
%%sql
start transaction;

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.

[]

In [13]:
%%sql
UPDATE Accounts SET Balance = Balance - 2000 WHERE AccountID = 1;

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[]

In [14]:
%%sql
select * from Accounts;

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(1, 'Alice', Decimal('2000.00'))]

In [15]:
%%sql
rollback;

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.

[]

In [16]:
%%sql
select * from Accounts;

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(1, 'Alice', Decimal('2000.00'))]