In [5]:
%reload_ext sql
%sql postgresql+psycopg2://postgres:postgres@localhost/demo

In [6]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### Date Functions

In [8]:
%%sql

create table events(
    event_id serial primary key,
    event_name text,
    event_date date,
    created_at timestamp default now()
);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.

[]

In [12]:
%%sql
insert into events(event_name, event_date)
values
('New year', '2025-01-01 00:00:00'),
('Summer Fest', '2025-06-15 12:30:00');

 * postgresql+psycopg2://postgres:***@localhost/demo
2 rows affected.

[]

In [13]:
%%sql
insert into events(event_name, event_date)
values
('Team meeting', '2025-01-15 10:30:00'),
('Conference', '2025-02-10 09:00:00'),
('work shop', '2025-03-20 13:30:00');

 * postgresql+psycopg2://postgres:***@localhost/demo
3 rows affected.

[]

In [15]:
%%sql
select *
from events

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[(1, 'New year', datetime.date(2025, 1, 1), datetime.datetime(2025, 4, 9, 10, 56, 23, 907752)),
 (2, 'Summer Fest', datetime.date(2025, 6, 15), datetime.datetime(2025, 4, 9, 10, 56, 23, 907752)),
 (3, 'Team meeting', datetime.date(2025, 1, 15), datetime.datetime(2025, 4, 9, 10, 58, 17, 694753)),
 (4, 'Conference', datetime.date(2025, 2, 10), datetime.datetime(2025, 4, 9, 10, 58, 17, 694753)),
 (5, 'work shop', datetime.date(2025, 3, 20), datetime.datetime(2025, 4, 9, 10, 58, 17, 694753))]

#### Get year from date

In [24]:
%%sql
select event_id,event_date, date_part('year',event_date) as event_year
from events

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[(1, datetime.date(2025, 1, 1), 2025.0),
 (2, datetime.date(2025, 6, 15), 2025.0),
 (3, datetime.date(2025, 1, 15), 2025.0),
 (4, datetime.date(2025, 2, 10), 2025.0),
 (5, datetime.date(2025, 3, 20), 2025.0)]

In [23]:
%%sql

select event_id, event_date, to_char(event_date, 'YYYY') as event_year
from events

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[(1, datetime.date(2025, 1, 1), '2025'),
 (2, datetime.date(2025, 6, 15), '2025'),
 (3, datetime.date(2025, 1, 15), '2025'),
 (4, datetime.date(2025, 2, 10), '2025'),
 (5, datetime.date(2025, 3, 20), '2025')]

#### Get Day from date

In [26]:
%%sql
select event_id,event_date, date_part('day',event_date) as event_day
from events

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[(1, datetime.date(2025, 1, 1), 1.0),
 (2, datetime.date(2025, 6, 15), 15.0),
 (3, datetime.date(2025, 1, 15), 15.0),
 (4, datetime.date(2025, 2, 10), 10.0),
 (5, datetime.date(2025, 3, 20), 20.0)]

In [27]:
%%sql

select event_id, event_date, to_char(event_date, 'dd') as event_day
from events

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[(1, datetime.date(2025, 1, 1), '01'),
 (2, datetime.date(2025, 6, 15), '15'),
 (3, datetime.date(2025, 1, 15), '15'),
 (4, datetime.date(2025, 2, 10), '10'),
 (5, datetime.date(2025, 3, 20), '20')]

In [29]:
%%sql

select 
    event_id, 
    event_date,
    event_date + interval '30 day' as month_forward

from events

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[(1, datetime.date(2025, 1, 1), datetime.datetime(2025, 1, 31, 0, 0)),
 (2, datetime.date(2025, 6, 15), datetime.datetime(2025, 7, 15, 0, 0)),
 (3, datetime.date(2025, 1, 15), datetime.datetime(2025, 2, 14, 0, 0)),
 (4, datetime.date(2025, 2, 10), datetime.datetime(2025, 3, 12, 0, 0)),
 (5, datetime.date(2025, 3, 20), datetime.datetime(2025, 4, 19, 0, 0))]

In [31]:
%%sql

select event_id, event_date, to_char(event_date, 'Day, Month DD YYYY') as event_year
from events

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[(1, datetime.date(2025, 1, 1), 'Wednesday, January   01 2025'),
 (2, datetime.date(2025, 6, 15), 'Sunday   , June      15 2025'),
 (3, datetime.date(2025, 1, 15), 'Wednesday, January   15 2025'),
 (4, datetime.date(2025, 2, 10), 'Monday   , February  10 2025'),
 (5, datetime.date(2025, 3, 20), 'Thursday , March     20 2025')]

In [35]:
%%sql

select event_id, created_at, created_at at time zone 'est' at time zone 'asia/kolkata'
from events;

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[(1, datetime.datetime(2025, 4, 9, 10, 56, 23, 907752), datetime.datetime(2025, 4, 9, 21, 26, 23, 907752)),
 (2, datetime.datetime(2025, 4, 9, 10, 56, 23, 907752), datetime.datetime(2025, 4, 9, 21, 26, 23, 907752)),
 (3, datetime.datetime(2025, 4, 9, 10, 58, 17, 694753), datetime.datetime(2025, 4, 9, 21, 28, 17, 694753)),
 (4, datetime.datetime(2025, 4, 9, 10, 58, 17, 694753), datetime.datetime(2025, 4, 9, 21, 28, 17, 694753)),
 (5, datetime.datetime(2025, 4, 9, 10, 58, 17, 694753), datetime.datetime(2025, 4, 9, 21, 28, 17, 694753))]