In [1]:
%reload_ext sql
%sql postgresql+psycopg2://postgres:postgres@localhost/demo

In [2]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### Indexes

In [5]:
%%sql
DROP TABLE IF EXISTS customers;

CREATE TABLE customers (
    customer_id SERIAL PRIMARY KEY,
    first_name  VARCHAR(50) NOT NULL,
    last_name   VARCHAR(50) NOT NULL,
    email       VARCHAR(100) NOT NULL,
    city        VARCHAR(100) NOT NULL
);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [12]:
%%sql
DROP TABLE IF EXISTS customers1;

CREATE TABLE customers1 (
    customer_id SERIAL PRIMARY KEY,
    first_name  VARCHAR(50) NOT NULL,
    last_name   VARCHAR(50) NOT NULL,
    email       VARCHAR(100) NOT NULL,
    city        VARCHAR(100) NOT NULL
);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [6]:
%%sql
CREATE INDEX idx_email on customers(email);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.

[]

In [7]:
%%sql
INSERT INTO customers (first_name, last_name, email, city)
VALUES
('John', 'Doe', 'john@example.com', 'New York'),
('Jane', 'Smith', 'jane.smith@example.com', 'Los Angeles'),
('Michael', 'Brown', 'michael.brown@example.com', 'Chicago'),
('Emily', 'Johnson', 'emily.johnson@example.com', 'Houston'),
('Robert', 'Green', 'robert.green@example.com', 'Phoenix');

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[]

In [13]:
%%sql
INSERT INTO customers1 (first_name, last_name, email, city)
VALUES
('John', 'Doe', 'john@example.com', 'New York'),
('Jane', 'Smith', 'jane.smith@example.com', 'Los Angeles'),
('Michael', 'Brown', 'michael.brown@example.com', 'Chicago'),
('Emily', 'Johnson', 'emily.johnson@example.com', 'Houston'),
('Robert', 'Green', 'robert.green@example.com', 'Phoenix');

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[]

In [16]:
%%sql
select *
from customers
where email = 'robert.green@example.com';

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(5, 'Robert', 'Green', 'robert.green@example.com', 'Phoenix')]

In [17]:
%%sql
EXPLAIN
select *
from customers
where email = 'robert.green@example.com';

 * postgresql+psycopg2://postgres:***@localhost/demo
2 rows affected.

[('Index Scan using idx_email on customers  (cost=0.14..8.16 rows=1 width=676)',),
 ("  Index Cond: ((email)::text = 'robert.green@example.com'::text)",)]

In [18]:
%%sql
EXPLAIN
select *
from customers1
where email = 'robert.green@example.com';

 * postgresql+psycopg2://postgres:***@localhost/demo
2 rows affected.

[('Seq Scan on customers1  (cost=0.00..11.38 rows=1 width=676)',),
 ("  Filter: ((email)::text = 'robert.green@example.com'::text)",)]

In [22]:
%%sql
EXPLAIN ANALYZE
select *
from customers
where email = 'robert.green@example.com';

 * postgresql+psycopg2://postgres:***@localhost/demo
4 rows affected.

[('Index Scan using idx_email on customers  (cost=0.14..8.16 rows=1 width=676) (actual time=0.016..0.017 rows=1 loops=1)',),
 ("  Index Cond: ((email)::text = 'robert.green@example.com'::text)",),
 ('Planning Time: 0.078 ms',),
 ('Execution Time: 0.034 ms',)]

In [21]:
%%sql
EXPLAIN ANALYZE
select *
from customers1
where email = 'robert.green@example.com';

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[('Seq Scan on customers1  (cost=0.00..11.38 rows=1 width=676) (actual time=0.012..0.013 rows=1 loops=1)',),
 ("  Filter: ((email)::text = 'robert.green@example.com'::text)",),
 ('  Rows Removed by Filter: 4',),
 ('Planning Time: 0.051 ms',),
 ('Execution Time: 0.027 ms',)]

In [26]:
%%sql
EXPLAIN (costs TRUE, FORMAT JSON)
select *
from customers
where email = 'robert.green@example.com';

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[([{'Plan': {'Node Type': 'Index Scan', 'Parallel Aware': False, 'Async Capable': False, 'Scan Direction': 'Forward', 'Index Name': 'idx_email', 'Relati ... (41 characters truncated) ... s', 'Startup Cost': 0.14, 'Total Cost': 8.16, 'Plan Rows': 1, 'Plan Width': 676, 'Index Cond': "((email)::text = 'robert.green@example.com'::text)"}}],)]