In [72]:
%reload_ext sql
%sql postgresql+psycopg2://postgres:postgres@localhost/demo

In [73]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### Partition with index

In [74]:
%%sql
DROP table address;

create table address(
    civic integer,
    street text,
    city text,
    primary key(civic, street, city)
) partition by list(city);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [75]:
%%sql
create table add_win partition of address
for values in ('winchester');

create table add_wil partition of address
for values in ('williamburg');

create table add_default partition of address
default;

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.
Done.

[]

In [76]:
%%sql
insert into address(civic, street, city)
values(12, 'fred', 'winchester'),
(12, 'may', 'winchester'),
(12, 'clearance', 'winchester'),
(12, 'lighting', 'williamburg'),
(12, 'shannete', 'williamburg'),
(54, 'filon', 'embrun'),
(54, 'dore', 'casselman'),
(88, 'consv', 'casselman');

 * postgresql+psycopg2://postgres:***@localhost/demo
8 rows affected.

[]

In [77]:
%%sql
create index idx_win on add_win(street);
create index idx_wil on add_wil(street);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [78]:
%%sql

explain ANALYZE
select *
from address
where city = 'casselman';

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[('Seq Scan on add_default address  (cost=0.00..20.62 rows=4 width=68) (actual time=0.008..0.009 rows=2 loops=1)',),
 ("  Filter: (city = 'casselman'::text)",),
 ('  Rows Removed by Filter: 1',),
 ('Planning Time: 0.111 ms',),
 ('Execution Time: 0.019 ms',)]

In [79]:
%%sql

explain ANALYZE
select *
from address
where city = 'casselman' and street='dore';

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[('Index Only Scan using add_default_pkey on add_default address  (cost=0.15..20.66 rows=1 width=68) (actual time=0.040..0.041 rows=1 loops=1)',),
 ("  Index Cond: ((street = 'dore'::text) AND (city = 'casselman'::text))",),
 ('  Heap Fetches: 1',),
 ('Planning Time: 0.079 ms',),
 ('Execution Time: 0.054 ms',)]

In [83]:
%%sql

explain ANALYZE
select *
from address
where city = 'winchester' and street = 'dore';

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[('Seq Scan on add_win address  (cost=0.00..1.04 rows=1 width=68) (actual time=0.010..0.011 rows=0 loops=1)',),
 ("  Filter: ((city = 'winchester'::text) AND (street = 'dore'::text))",),
 ('  Rows Removed by Filter: 3',),
 ('Planning Time: 0.093 ms',),
 ('Execution Time: 0.023 ms',)]