In [7]:
%reload_ext sql
%sql postgresql+psycopg2://postgres:postgres@localhost/demo

In [8]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### Partition

#### 1. Range Partition

In [20]:
%%sql

DROP TABLE IF EXISTS orders;

CREATE TABLE orders (
    order_id   SERIAL not null,
    order_date DATE NOT NULL, 
    customer_name VARCHAR(50),
    amount     DECIMAL(10,2)
-- PRIMARY KEY(order_id, order_date)
)
PARTITION BY RANGE (order_date);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [27]:
%%sql

create table order_2019 PARTITION of orders
for values from ('2019-01-01') to ('2020-01-01');

create table order_2020 PARTITION of orders
for values from ('2020-01-01') to ('2021-01-01');

create table order_2021 PARTITION of orders
for values from ('2021-01-01') to ('2022-01-01');

create table order_2022 PARTITION OF orders
for values from ('2022-01-01') to ('2023-01-01');

create table order_default PARTITION of orders
default;

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [28]:
%%sql

INSERT INTO orders (order_date, customer_name, amount)
VALUES
('2019-05-10', 'Alice', 100.00),
('2020-01-15', 'Bob', 200.50),
('2020-12-01', 'Charlie', 300.00),
('2021-07-20', 'Diana', 150.75),
('2022-03-02', 'Edward', 500.00),
('2025-06-18', 'FutureMan', 9999.99);

 * postgresql+psycopg2://postgres:***@localhost/demo
6 rows affected.

[]

In [30]:
%%sql

select *
from orders
where order_date between '2022-01-01' and '2022-08-01';

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(10, datetime.date(2022, 3, 2), 'Edward', Decimal('500.00'))]

In [33]:
%%sql

explain analyze

select *
from orders
where order_date between '2022-01-01' and '2022-08-01';

 * postgresql+psycopg2://postgres:***@localhost/demo
4 rows affected.

[('Seq Scan on order_2022 orders  (cost=0.00..17.20 rows=2 width=142) (actual time=0.010..0.011 rows=1 loops=1)',),
 ("  Filter: ((order_date >= '2022-01-01'::date) AND (order_date <= '2022-08-01'::date))",),
 ('Planning Time: 0.138 ms',),
 ('Execution Time: 0.022 ms',)]

In [35]:
%%sql
EXPLAIN ANALYZE 
SELECT * FROM orders WHERE EXTRACT(YEAR FROM order_date) = 2023;

 * postgresql+psycopg2://postgres:***@localhost/demo
18 rows affected.

[('Append  (cost=0.00..86.05 rows=10 width=142) (actual time=0.030..0.031 rows=0 loops=1)',),
 ('  ->  Seq Scan on order_2019 orders_1  (cost=0.00..17.20 rows=2 width=142) (actual time=0.015..0.015 rows=0 loops=1)',),
 ("        Filter: (EXTRACT(year FROM order_date) = '2023'::numeric)",),
 ('        Rows Removed by Filter: 1',),
 ('  ->  Seq Scan on order_2020 orders_2  (cost=0.00..17.20 rows=2 width=142) (actual time=0.006..0.006 rows=0 loops=1)',),
 ("        Filter: (EXTRACT(year FROM order_date) = '2023'::numeric)",),
 ('        Rows Removed by Filter: 2',),
 ('  ->  Seq Scan on order_2021 orders_3  (cost=0.00..17.20 rows=2 width=142) (actual time=0.003..0.003 rows=0 loops=1)',),
 ("        Filter: (EXTRACT(year FROM order_date) = '2023'::numeric)",),
 ('        Rows Removed by Filter: 1',),
 ('  ->  Seq Scan on order_2022 orders_4  (cost=0.00..17.20 rows=2 width=142) (actual time=0.002..0.002 rows=0 loops=1)',),
 ("        Filter: (EXTRACT(year FROM order_date) = '2023'::numeric)",),
 ('        Rows Removed by Filter: 1',),
 ('  ->  Seq Scan on order_default orders_5  (cost=0.00..17.20 rows=2 width=142) (actual time=0.003..0.003 rows=0 loops=1)',),
 ("        Filter: (EXTRACT(year FROM order_date) = '2023'::numeric)",),
 ('        Rows Removed by Filter: 1',),
 ('Planning Time: 0.306 ms',),
 ('Execution Time: 0.063 ms',)]

##### 2. List Partition

In [37]:
%%sql

DROP TABLE IF EXISTS employees;

CREATE TABLE employees (
    employee_id SERIAL,
    first_name  VARCHAR(50),
    last_name   VARCHAR(50),
    department  VARCHAR(50),
    primary key (employee_id,department)
)
PARTITION BY LIST (department);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [38]:
%%sql

create table employee_hr PARTITION of employees
for values in ('HR');

create table employee_sale PARTITION of employees
for values in ('Sales');

create table employee_it PARTITION of employees
for values in ('Engineering', 'DevOps');

create table employee_other PARTITION of employees
for values in ('Finance', 'Marketing', 'Operations');

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.
Done.
Done.

[]

In [40]:
%%sql

INSERT INTO employees (first_name, last_name, department)
VALUES
('Alice', 'Smith', 'Sales'),
('Bob', 'Johnson', 'HR'),
('Charlie', 'Lee', 'Engineering'),
('Diana', 'Lopez', 'DevOps'),
('Eve', 'Turner', 'Marketing');

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[]

In [41]:
%%sql

select * 
from employees
where department = 'Sales';

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(1, 'Alice', 'Smith', 'Sales')]

In [42]:
%%sql

EXPLAIN ANALYZE

select * 
from employees
where department = 'Sales';

 * postgresql+psycopg2://postgres:***@localhost/demo
4 rows affected.

[('Seq Scan on employee_sale employees  (cost=0.00..12.62 rows=1 width=358) (actual time=0.009..0.010 rows=1 loops=1)',),
 ("  Filter: ((department)::text = 'Sales'::text)",),
 ('Planning Time: 0.083 ms',),
 ('Execution Time: 0.023 ms',)]

In [43]:
%%sql

EXPLAIN ANALYZE

select * 
from employees
where department in ('Sales', 'HR');

 * postgresql+psycopg2://postgres:***@localhost/demo
7 rows affected.

[('Append  (cost=0.00..25.27 rows=4 width=358) (actual time=0.014..0.019 rows=2 loops=1)',),
 ('  ->  Seq Scan on employee_hr employees_1  (cost=0.00..12.62 rows=2 width=358) (actual time=0.012..0.013 rows=1 loops=1)',),
 ("        Filter: ((department)::text = ANY ('{Sales,HR}'::text[]))",),
 ('  ->  Seq Scan on employee_sale employees_2  (cost=0.00..12.62 rows=2 width=358) (actual time=0.004..0.004 rows=1 loops=1)',),
 ("        Filter: ((department)::text = ANY ('{Sales,HR}'::text[]))",),
 ('Planning Time: 0.346 ms',),
 ('Execution Time: 0.035 ms',)]

##### 3. Hash Partition

In [45]:
%%sql
DROP TABLE IF EXISTS sensor_data;

CREATE TABLE sensor_data (
    sensor_id     INT NOT NULL,
    reading_time  DATE NOT NULL,
    reading_value DECIMAL(10,2),
    PRIMARY KEY (sensor_id, reading_time)
)
PARTITION BY HASH(sensor_id);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [48]:
%%sql

CREATE table sensor_0 PARTITION of sensor_data
for values with(modulus 2, remainder 0);

create table sensor_1 PARTITION of sensor_data
for values with(modulus 2, remainder 1)

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [50]:
%%sql
INSERT INTO sensor_data (sensor_id, reading_time, reading_value)
VALUES
(101, '2025-01-01 10:00:00', 23.50),
(102, '2025-01-01 10:05:00', 24.10),
(103, '2025-01-01 10:10:00', 22.75),
(104, '2025-01-01 10:15:00', 25.00),
(105, '2025-01-01 10:20:00', 20.00),
(106, '2025-01-01 10:25:00', 21.60);

 * postgresql+psycopg2://postgres:***@localhost/demo
6 rows affected.

[]

In [51]:
%%sql

select *
from sensor_data
where sensor_id = 102;

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(102, datetime.date(2025, 1, 1), Decimal('24.10'))]

In [52]:
%%sql

explain analyze

select *
from sensor_data
where sensor_id = 102;

 * postgresql+psycopg2://postgres:***@localhost/demo
7 rows affected.

[('Bitmap Heap Scan on sensor_0 sensor_data  (cost=4.21..14.37 rows=8 width=24) (actual time=0.020..0.021 rows=1 loops=1)',),
 ('  Recheck Cond: (sensor_id = 102)',),
 ('  Heap Blocks: exact=1',),
 ('  ->  Bitmap Index Scan on sensor_0_pkey  (cost=0.00..4.21 rows=8 width=0) (actual time=0.014..0.014 rows=1 loops=1)',),
 ('        Index Cond: (sensor_id = 102)',),
 ('Planning Time: 0.117 ms',),
 ('Execution Time: 0.050 ms',)]