In [1]:
%reload_ext sql
%sql postgresql+psycopg2://postgres:postgres@localhost/demo

In [2]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### Regex

In [4]:
%%sql
create table regex_examples(
    id serial primary key,
    name text
);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.

[]

In [5]:
%%sql

insert into regex_examples(name)
values('apple'),         -- id=1
('Banana'),        -- id=2 (note the capital B)
('cherry'),        -- id=3
('date'),          -- id=4
('elderberry'),    -- id=5
('fig'),           -- id=6
('grape'),         -- id=7
('honeydew'),      -- id=8
('running'),       -- id=9 (ends with "ing")
('123abc');

 * postgresql+psycopg2://postgres:***@localhost/demo
10 rows affected.

[]

| Operator | Meaning                               |
|----------|----------------------------------------|
| `~`      | Match case-sensitive regular expression |
| `~*`     | Match case-insensitive regular expression |
| `!~`     | Does **not** match case-sensitive regex |
| `!~*`    | Does **not** match case-insensitive regex |

In [7]:
%%sql
select *
from regex_examples
where name ~* '^a';

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(1, 'apple')]

In [9]:
%%sql
select * 
from regex_examples
where name ~* 'e$';

 * postgresql+psycopg2://postgres:***@localhost/demo
3 rows affected.

[(1, 'apple'), (4, 'date'), (7, 'grape')]

In [ ]:
%%sql

select *
from regex_examples
where name ~* '^[0-9]'

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(10, '123abc')]

In [12]:
%%sql
select *
from regex_examples
where name ~* 'ing$'

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(9, 'running')]

#### Two same letters continuously coming

In [16]:
%%sql
select *
from regex_examples
where name ~* '(.)\\1'

 * postgresql+psycopg2://postgres:***@localhost/demo
0 rows affected.

[]

In [17]:
%%sql
select *
from regex_examples
where name ~* '^[A-Za-z]+$'

 * postgresql+psycopg2://postgres:***@localhost/demo
9 rows affected.

[(1, 'apple'),
 (2, 'Banana'),
 (3, 'cherry'),
 (4, 'date'),
 (5, 'elderberry'),
 (6, 'fig'),
 (7, 'grape'),
 (8, 'honeydew'),
 (9, 'running')]

#### Get 5 character variable

In [22]:
%%sql
select * 
from regex_examples
where name ~ '^.{5}$'

 * postgresql+psycopg2://postgres:***@localhost/demo
0 rows affected.

[]

In [24]:
%%sql
select *
from regex_examples
where name ~* '^(apple|banana)$'

 * postgresql+psycopg2://postgres:***@localhost/demo
2 rows affected.

[(1, 'apple'), (2, 'Banana')]

In [25]:
%%sql
select *
from regex_examples
where name ~* '^[0-9]{3}[A-Za-z]+$'

 * postgresql+psycopg2://postgres:***@localhost/demo
0 rows affected.

[]

In [27]:
%%sql
CREATE TABLE demo_data (
    id SERIAL PRIMARY KEY,
    full_name VARCHAR(50),
    phone VARCHAR(25),
    email VARCHAR(100),
    date_col VARCHAR(10),   -- Storing as VARCHAR for the demo
    status VARCHAR(20),
    sku VARCHAR(20),
    username VARCHAR(30),
    notes VARCHAR(100)
);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.

[]

In [28]:
%%sql
INSERT INTO demo_data (full_name, phone, email, date_col, status, sku, username, notes)
VALUES
-- 1
('John Smith', 
 '123-456-7890', 
 'john@example.com', 
 '2025-02-07', 
 'pending', 
 'ABCD', 
 'johnsmith', 
 'Ships to CA'),

-- 2
('Alice Johnson', 
 '(987) 654-3210', 
 'alice@@example.net', 
 '2025-02-07', 
 'inactive', 
 'SKU-123', 
 'alice', 
 'NY location'),

-- 3
('Bob Williams', 
 '+1-555-123-4567', 
 'bob@sample.org', 
 '20250207', 
 'complete', 
 '1SKU', 
 'bob123', 
 'Shipping to CA'),

-- 4
('Mary 1 White', 
 '(123) 123-4567', 
 'mary123@example.com', 
 '2025-13-31', 
 'PENDING', 
 'abc-999', 
 'mary_white', 
 'Something about CA or'),

-- 5
('Mark-Spencer', 
 '1234567890', 
 'mark@example.com', 
 '2024-11-02', 
 'active', 
 'SKU-9999', 
 'mark', 
 'Random note'),

-- 6
('Jane O''Connor',   -- Note the doubled apostrophe for SQL
 '987-654-3210', 
 'jane.o.connor@example.org', 
 '2024-12-31', 
 'inactive', 
 'ABCDE', 
 'janeO', 
 'Contains CA or NY'),

-- 7
('Invalid Mail', 
 '000-000-0000', 
 'invalid@@example..com', 
 '2023-01-15', 
 'inactive', 
 'XYZ000', 
 'invalid', 
 'Double @ and dots'),

-- 8
('NoSpacesHere', 
 '+12-345-678-9012',
 'nospaces@example.co',
 '2025-02-07',
 'pending',
 'SKU999',
 'NoSpaces',
 'Ends with .co domain');

 * postgresql+psycopg2://postgres:***@localhost/demo
8 rows affected.

[]

In [29]:
%%sql
select *
from demo_data;

 * postgresql+psycopg2://postgres:***@localhost/demo
8 rows affected.

[(1, 'John Smith', '123-456-7890', 'john@example.com', '2025-02-07', 'pending', 'ABCD', 'johnsmith', 'Ships to CA'),
 (2, 'Alice Johnson', '(987) 654-3210', 'alice@@example.net', '2025-02-07', 'inactive', 'SKU-123', 'alice', 'NY location'),
 (3, 'Bob Williams', '+1-555-123-4567', 'bob@sample.org', '20250207', 'complete', '1SKU', 'bob123', 'Shipping to CA'),
 (4, 'Mary 1 White', '(123) 123-4567', 'mary123@example.com', '2025-13-31', 'PENDING', 'abc-999', 'mary_white', 'Something about CA or'),
 (5, 'Mark-Spencer', '1234567890', 'mark@example.com', '2024-11-02', 'active', 'SKU-9999', 'mark', 'Random note'),
 (6, "Jane O'Connor", '987-654-3210', 'jane.o.connor@example.org', '2024-12-31', 'inactive', 'ABCDE', 'janeO', 'Contains CA or NY'),
 (7, 'Invalid Mail', '000-000-0000', 'invalid@@example..com', '2023-01-15', 'inactive', 'XYZ000', 'invalid', 'Double @ and dots'),
 (8, 'NoSpacesHere', '+12-345-678-9012', 'nospaces@example.co', '2025-02-07', 'pending', 'SKU999', 'NoSpaces', 'Ends with .co domain')]

In [30]:
%%sql
select *
from demo_data
where date_col ~ '^[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]$'

 * postgresql+psycopg2://postgres:***@localhost/demo
7 rows affected.

[(1, 'John Smith', '123-456-7890', 'john@example.com', '2025-02-07', 'pending', 'ABCD', 'johnsmith', 'Ships to CA'),
 (2, 'Alice Johnson', '(987) 654-3210', 'alice@@example.net', '2025-02-07', 'inactive', 'SKU-123', 'alice', 'NY location'),
 (4, 'Mary 1 White', '(123) 123-4567', 'mary123@example.com', '2025-13-31', 'PENDING', 'abc-999', 'mary_white', 'Something about CA or'),
 (5, 'Mark-Spencer', '1234567890', 'mark@example.com', '2024-11-02', 'active', 'SKU-9999', 'mark', 'Random note'),
 (6, "Jane O'Connor", '987-654-3210', 'jane.o.connor@example.org', '2024-12-31', 'inactive', 'ABCDE', 'janeO', 'Contains CA or NY'),
 (7, 'Invalid Mail', '000-000-0000', 'invalid@@example..com', '2023-01-15', 'inactive', 'XYZ000', 'invalid', 'Double @ and dots'),
 (8, 'NoSpacesHere', '+12-345-678-9012', 'nospaces@example.co', '2025-02-07', 'pending', 'SKU999', 'NoSpaces', 'Ends with .co domain')]

In [31]:
%%sql
select *
from demo_data
where date_col ~ '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'

 * postgresql+psycopg2://postgres:***@localhost/demo
0 rows affected.

[]

In [32]:
%%sql
select *
from demo_data
where full_name ~ '^[A-za-z ]+$'

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[(1, 'John Smith', '123-456-7890', 'john@example.com', '2025-02-07', 'pending', 'ABCD', 'johnsmith', 'Ships to CA'),
 (2, 'Alice Johnson', '(987) 654-3210', 'alice@@example.net', '2025-02-07', 'inactive', 'SKU-123', 'alice', 'NY location'),
 (3, 'Bob Williams', '+1-555-123-4567', 'bob@sample.org', '20250207', 'complete', '1SKU', 'bob123', 'Shipping to CA'),
 (7, 'Invalid Mail', '000-000-0000', 'invalid@@example..com', '2023-01-15', 'inactive', 'XYZ000', 'invalid', 'Double @ and dots'),
 (8, 'NoSpacesHere', '+12-345-678-9012', 'nospaces@example.co', '2025-02-07', 'pending', 'SKU999', 'NoSpaces', 'Ends with .co domain')]