In [96]:
%reload_ext sql
%sql postgresql+psycopg2://postgres:postgres@localhost/demo

In [97]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### Sub partition

we can create the year as partition and month as sub partition.

Here we will use range partitioning.

In [98]:
%%sql

DROP TABLE IF EXISTS orders;

CREATE TABLE orders (
    order_id   SERIAL not null,
    order_date DATE NOT NULL, 
    customer_name VARCHAR(50),
    amount     DECIMAL(10,2)
-- PRIMARY KEY(order_id, order_date)
)
PARTITION BY RANGE (order_date);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [99]:
%%sql

create TABLE order_2019 PARTITION of orders
for values from ('2019-01-01') to ('2020-01-01')
PARTITION by RANGE (order_date);

create table order_2020 PARTITION of orders
for values from ('2020-01-01') to ('2021-01-01')
PARTITION by RANGE (order_date);

create table order_default PARTITION of orders
default;

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.
Done.

[]

In [100]:
%%sql

create table order_2019_jan PARTITION of order_2019
for values from ('2019-01-01') to ('2019-02-01');

create table order_2019_feb PARTITION of order_2019
for values from ('2019-02-01') to ('2019-03-01');

create table order_2019_mar PARTITION of order_2019
for values from ('2019-03-01') to ('2019-04-01');

create table order_2019_april PARTITION of order_2019
for values from ('2019-04-01') to ('2019-05-01');

create table order_2019_may PARTITION of order_2019
for values from ('2019-05-01') to ('2019-06-01');

create table order_2019_jun PARTITION of order_2019
for values from ('2019-06-01') to ('2019-07-01');

create table order_2019_jul PARTITION of order_2019
for values from ('2019-07-01') to ('2019-08-01');

create table order_2019_aug PARTITION of order_2019
for values from ('2019-08-01') to ('2019-09-01');

create table order_2019_sep PARTITION of order_2019
for values from ('2019-09-01') to ('2019-10-01');

create table order_2019_oct PARTITION of order_2019
for values from ('2019-10-01') to ('2019-11-01');

create table order_2019_nov PARTITION of order_2019
for values from ('2019-11-01') to ('2019-12-01');

create table order_2019_dec PARTITION of order_2019
for values from ('2019-12-01') to ('2020-01-01');

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [101]:
%%sql

create table order_2020_jan PARTITION of order_2020
for values from ('2020-01-01') to ('2020-02-01');

create table order_2020_feb PARTITION of order_2020
for values from ('2020-02-01') to ('2020-03-01');

create table order_2020_mar PARTITION of order_2020
for values from ('2020-03-01') to ('2020-04-01');

create table order_2020_apr PARTITION of order_2020
for values from ('2020-04-01') to ('2020-05-01');

create table order_2020_may PARTITION of order_2020
for values from ('2020-05-01') to ('2020-06-01');

create table order_2020_jun PARTITION of order_2020
for values from ('2020-06-01') to ('2020-07-01');

create table order_2020_jul PARTITION of order_2020
for values from ('2020-07-01') to ('2020-08-01');

create table order_2020_aug PARTITION of order_2020
for values from ('2020-08-01') to ('2020-09-01');

create table order_2020_sep PARTITION of order_2020
for values from ('2020-09-01') to ('2020-10-01');

create table order_2020_oct PARTITION of order_2020
for values from ('2020-10-01') to ('2020-11-01');

create table order_2020_nov PARTITION of order_2020
for values from ('2020-11-01') to ('2020-12-01');

create table order_2020_dec PARTITION of order_2020
for values from ('2020-12-01') to ('2021-01-01');

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [102]:
%%sql

INSERT INTO orders (order_date, customer_name, amount)
VALUES
('2019-05-10', 'Alice', 100.00),
('2020-01-15', 'Bob', 200.50),
('2020-12-01', 'Charlie', 300.00),
('2021-07-20', 'Diana', 150.75),
('2022-03-02', 'Edward', 500.00),
('2025-06-18', 'FutureMan', 9999.99);

 * postgresql+psycopg2://postgres:***@localhost/demo
6 rows affected.

[]

In [ ]:
%%sql
select *
from orders
where order_date between '2019-01-01' and '2019-06-01';

 * postgresql+psycopg2://postgres:***@localhost/demo
1 rows affected.

[(1, datetime.date(2019, 5, 10), 'Alice', Decimal('100.00'))]

In [105]:
%%sql

explain analyze

select *
from orders
where order_date between '2019-01-01' and '2019-06-01';

 * postgresql+psycopg2://postgres:***@localhost/demo
15 rows affected.

[('Append  (cost=0.00..103.26 rows=12 width=142) (actual time=0.014..0.017 rows=1 loops=1)',),
 ('  ->  Seq Scan on order_2019_jan orders_1  (cost=0.00..17.20 rows=2 width=142) (actual time=0.004..0.004 rows=0 loops=1)',),
 ("        Filter: ((order_date >= '2019-01-01'::date) AND (order_date <= '2019-06-01'::date))",),
 ('  ->  Seq Scan on order_2019_feb orders_2  (cost=0.00..17.20 rows=2 width=142) (actual time=0.001..0.001 rows=0 loops=1)',),
 ("        Filter: ((order_date >= '2019-01-01'::date) AND (order_date <= '2019-06-01'::date))",),
 ('  ->  Seq Scan on order_2019_mar orders_3  (cost=0.00..17.20 rows=2 width=142) (actual time=0.001..0.001 rows=0 loops=1)',),
 ("        Filter: ((order_date >= '2019-01-01'::date) AND (order_date <= '2019-06-01'::date))",),
 ('  ->  Seq Scan on order_2019_april orders_4  (cost=0.00..17.20 rows=2 width=142) (actual time=0.001..0.001 rows=0 loops=1)',),
 ("        Filter: ((order_date >= '2019-01-01'::date) AND (order_date <= '2019-06-01'::date))",),
 ('  ->  Seq Scan on order_2019_may orders_5  (cost=0.00..17.20 rows=2 width=142) (actual time=0.007..0.007 rows=1 loops=1)',),
 ("        Filter: ((order_date >= '2019-01-01'::date) AND (order_date <= '2019-06-01'::date))",),
 ('  ->  Seq Scan on order_2019_jun orders_6  (cost=0.00..17.20 rows=2 width=142) (actual time=0.001..0.001 rows=0 loops=1)',),
 ("        Filter: ((order_date >= '2019-01-01'::date) AND (order_date <= '2019-06-01'::date))",),
 ('Planning Time: 0.175 ms',),
 ('Execution Time: 0.040 ms',)]

In [104]:
%%sql

explain analyze

select *
from orders
where order_date = '2019-01-01';

 * postgresql+psycopg2://postgres:***@localhost/demo
4 rows affected.

[('Seq Scan on order_2019_jan orders  (cost=0.00..16.00 rows=2 width=142) (actual time=0.004..0.005 rows=0 loops=1)',),
 ("  Filter: (order_date = '2019-01-01'::date)",),
 ('Planning Time: 0.114 ms',),
 ('Execution Time: 0.019 ms',)]