In [2]:
%reload_ext sql
%sql postgresql+psycopg2://postgres:postgres@localhost/demo

In [3]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## Window Function Rank

##### Row number

Assigning unique row number in incremental order

In [13]:
%%sql
select driver_id, fare,
    ROW_NUMBER() over(order by fare desc) as row_num
from ride;

 * postgresql+psycopg2://postgres:***@localhost/demo
7 rows affected.

[(101, Decimal('500.00'), 1),
 (101, Decimal('500.00'), 2),
 (101, Decimal('500.00'), 3),
 (102, Decimal('500.00'), 4),
 (102, Decimal('500.00'), 5),
 (103, Decimal('200.00'), 6),
 (104, Decimal('100.00'), 7)]

In [14]:
%%sql
select driver_id, fare,
    ROW_NUMBER() over(partition by driver_id order by fare desc) as row_num
from ride;

 * postgresql+psycopg2://postgres:***@localhost/demo
7 rows affected.

[(101, Decimal('500.00'), 1),
 (101, Decimal('500.00'), 2),
 (101, Decimal('500.00'), 3),
 (102, Decimal('500.00'), 1),
 (102, Decimal('500.00'), 2),
 (103, Decimal('200.00'), 1),
 (104, Decimal('100.00'), 1)]

In [7]:
%%sql
drop table if exists Employees;
CREATE TABLE Employees (
    EmployeeID INT,
    Name VARCHAR(100),
    Department VARCHAR(50),
    HireDate DATE
);

 * postgresql+psycopg2://postgres:***@localhost/demo
Done.
Done.

[]

In [8]:
%%sql
INSERT INTO Employees (EmployeeID, Name, Department, HireDate)
VALUES
    (1, 'Alice', 'HR', '2020-05-01'),
    (1, 'Alice', 'HR', '2022-06-15'),
    (2, 'Bob', 'IT', '2021-07-10'),
    (3, 'Charlie', 'Finance', '2020-09-30'),
    (3, 'Charlie', 'Finance', '2022-05-22');

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[]

In [9]:
%%sql
select * from Employees;

 * postgresql+psycopg2://postgres:***@localhost/demo
5 rows affected.

[(1, 'Alice', 'HR', datetime.date(2020, 5, 1)),
 (1, 'Alice', 'HR', datetime.date(2022, 6, 15)),
 (2, 'Bob', 'IT', datetime.date(2021, 7, 10)),
 (3, 'Charlie', 'Finance', datetime.date(2020, 9, 30)),
 (3, 'Charlie', 'Finance', datetime.date(2022, 5, 22))]

### Deduplication using ROW_NUMBER window function

In [16]:
%%sql
with row_num_cte as(
    select employeeid, name, department, HireDate,
    ROW_NUMBER() OVER(partition by employeeid order by HireDate asc) as row_num

from Employees
)

select employeeid, name, department, HireDate
from row_num_cte
where row_num=1;

 * postgresql+psycopg2://postgres:***@localhost/demo
3 rows affected.

[(1, 'Alice', 'HR', datetime.date(2020, 5, 1)),
 (2, 'Bob', 'IT', datetime.date(2021, 7, 10)),
 (3, 'Charlie', 'Finance', datetime.date(2020, 9, 30))]