In [9]:
%reload_ext sql
%sql postgresql+psycopg2://postgres:postgres@localhost/demo

In [10]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## Window Function

##### Total sale for all driver

In [16]:
%%sql
select 
    driver_id, 
    fare,
    sum(fare) over() as total_ride
from ride;

 * postgresql+psycopg2://postgres:***@localhost/demo
7 rows affected.

[(101, Decimal('500.00'), Decimal('2800.00')),
 (101, Decimal('500.00'), Decimal('2800.00')),
 (101, Decimal('500.00'), Decimal('2800.00')),
 (102, Decimal('500.00'), Decimal('2800.00')),
 (102, Decimal('500.00'), Decimal('2800.00')),
 (103, Decimal('200.00'), Decimal('2800.00')),
 (104, Decimal('100.00'), Decimal('2800.00'))]

#### Window function with partition

##### Total sales of each driver

In [17]:
%%sql
select 
    driver_id,
    fare,
    sum(fare) over(partition by driver_id) as total_ride
from ride;

 * postgresql+psycopg2://postgres:***@localhost/demo
7 rows affected.

[(101, Decimal('500.00'), Decimal('1500.00')),
 (101, Decimal('500.00'), Decimal('1500.00')),
 (101, Decimal('500.00'), Decimal('1500.00')),
 (102, Decimal('500.00'), Decimal('1000.00')),
 (102, Decimal('500.00'), Decimal('1000.00')),
 (103, Decimal('200.00'), Decimal('200.00')),
 (104, Decimal('100.00'), Decimal('100.00'))]

In [18]:
%%sql
-- in group by we can't get fare with driver_id
select
    driver_id,
    sum(fare)
from ride
group by driver_id;

 * postgresql+psycopg2://postgres:***@localhost/demo
4 rows affected.

[(101, Decimal('1500.00')),
 (103, Decimal('200.00')),
 (104, Decimal('100.00')),
 (102, Decimal('1000.00'))]

#### Window function with partition and order

In [22]:
%%sql
select 
    driver_id,
    fare,
    ride_date,
    sum(fare) over(partition by driver_id order by ride_date desc) as total_ride
from ride;

 * postgresql+psycopg2://postgres:***@localhost/demo
7 rows affected.

[(101, Decimal('500.00'), datetime.datetime(2024, 12, 29, 9, 0), Decimal('500.00')),
 (101, Decimal('500.00'), datetime.datetime(2024, 12, 29, 8, 0), Decimal('1500.00')),
 (101, Decimal('500.00'), datetime.datetime(2024, 12, 29, 8, 0), Decimal('1500.00')),
 (102, Decimal('500.00'), datetime.datetime(2024, 12, 29, 9, 0), Decimal('500.00')),
 (102, Decimal('500.00'), datetime.datetime(2024, 12, 29, 0, 0), Decimal('1000.00')),
 (103, Decimal('200.00'), datetime.datetime(2024, 12, 29, 0, 0), Decimal('200.00')),
 (104, Decimal('100.00'), datetime.datetime(2024, 12, 29, 0, 0), Decimal('100.00'))]